<div class="body-container">  
    <div class="user-info-container">
        <div class="back-container">
            <%= link_to "◄ Back", "/admins" %>
        </div>
        <h1>User Info</h1>
        <div class="user-info-item">
            <p>Name: <%= @user.name %></p>
        </div>
        <div class="user-info-item">
            <p>Email: <%= @user.email %></p>
        </div>
        <div class="user-info-item">
            <p>Balance: Php <%= @user.balance %></p>
        </div>
        <div class="edit-user-div">
            <%# <%= link_to "Edit User", edit_admin_path(@user.id) %>
        </div>
        
    </div>
</div>

