<div class="body-container">

  <div class="back-container">
    <%= link_to "◄ Back", "/" %>
  </div>

  <h1 id="pending-h1">Pre-Orders</h1>

  <div class="nendoroid-container">
    <% @pre_orders.each do |nendo| %>
      <div class="nendoroid-item-container">
        <%= image_tag nendo.main_photo, class: "nendoroid-photo"%>
        <div class="nendoroid-item-info-container">
          <div class="vl"></div>
          <span>Nendoroid <%= nendo.nendoroid_number %><span><br>
          <span><%= nendo.name %><span>
          <%= button_to "🛒 Pre-Order this!", order_nendo_path, params: {:id => nendo.id}, method: :get %>
        </div>
      </div>
    <% end %>
  </div>

</div>